html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(210, 210, 210);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
}
.header{
    color: rgb(24, 24, 24);
}
.content{
    display: flex;
    justify-content: center;
}
.sidebarBtn{
    padding: 4px;
    height: 26px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 10px;   
    color: rgb(77, 77, 77);
    background-color: rgb(169, 169, 169);
    user-select: none;
}
.sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    background-color: rgb(169, 169, 169);
    border-bottom-left-radius: 10px;    
}
.active{
    display: none;
}
.sideBtn{
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
}
.grid{
    display: grid;
    height: 500px;
    width: 500px;
    background-color: white;
    border: 1px solid rgb(169, 169, 169);
}
.gridOn{
    border: 1px solid rgb(169, 169, 169);
}
.grid-item{
    box-sizing: border-box;
    flex: auto;
}